body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../icons/cinema_1.jpg);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(170, 168, 168, 0.932);
    width: 100%;
}

h1{
    font-size: 55px;
    color: rgb(54, 54, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 24%;
    margin-bottom: 0;
}

.header-img{
    height: 150px;
    width: 350px;
    flex-basis: 23%;
    background-image: url(../icons/imgonline-com-ua-Transparent-backgr-JmPSd2uURj2D.png);
    background-size: cover;
    background-position: center;
    border-left: 2px solid black;
    box-shadow: -6px 0 5px 2px rgba(0, 0, 0, 0.644);
}

.h1wrap{
    flex-basis:65%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}